/*nav {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkkhaki;
}*/
nav .logo {
    width: 2.5rem;
    height: auto;
    /*border-radius: 50%;*/
    border: 0.5rem;
    border-color: black;
} 